<div class="custom-container d-flex flex-column align-items-center">
  <button (click)="toggleDarkMode()" class="btn btn-outline-secondary mb-4">
    {{ isDarkMode ? "Switch to Light Mode" : "Switch to Dark Mode" }}
  </button>

  <div
    [ngClass]="{ 'custom-card': true, 'dark-mode': isDarkMode }"
    class="p-5 col-md-6"
  >
    <h2 class="custom-title text-center mb-4">Register User</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="userForm" class="space-y-4">
      <!-- Inputs here -->
      <div class="mb-3">
        <label>Username</label>
        <input class="form-control" formControlName="username" />
      </div>

      <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email" />
      </div>

      <div class="mb-3">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
      </div>

      <div class="mb-3">
        <label>Profile Picture URL</label>
        <input type="text" class="form-control" formControlName="profilePic" />
      </div>

      <button
        type="submit"
        class="btn custom-btn w-100"
        [disabled]="userForm.invalid"
      >
        Register
      </button>
    </form>
  </div>
</div>
