<nav class="sidebar">
    <ul class="menu">
        
        <li>
            <a href="dashboard" class="menu-title direct-link">Dashboard</a>
          </li>

      <!-- Menu: User -->
      <li>
        <div class="menu-title" (click)="toggleSubMenu('user')">
          User
        </div>
        <ul class="submenu" *ngIf="activeMenus['user']">
          <li><a href="#">Admin</a></li>
          <li><a href="add-user">Add User</a></li>
          <li><a href="#">Manage User</a></li>
        </ul>
      </li>
  
      <!-- Menu: Product -->
      <li>
        <div class="menu-title" (click)="toggleSubMenu('product')">
          Product
        </div>
        <ul class="submenu" *ngIf="activeMenus['product']">
          <li><a href="#">Add Product</a></li>
          <li><a href="#">Manage Product</a></li>
        </ul>
      </li>
  
      <!-- Menu: Category -->
      <li>
        <div class="menu-title" (click)="toggleSubMenu('category')">
          Category
        </div>
        <ul class="submenu" *ngIf="activeMenus['category']">
          <li><a href="#">Add Category</a></li>
          <li><a href="#">Manage Category</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  